<div class="flex flex-wrap mb-4 leading-normal">
  <div class="w-full lg:w-1/3 lg:text-right font-bold pr-4 mb-2">社名</div>
  <div class="w-full md:w-2/3 mb-2">Banana Systems 株式会社</div>
</div>

<div class="flex flex-wrap mb-4 leading-normal">
  <div class="w-full lg:w-1/3 lg:text-right font-bold pr-4 mb-2">設立</div>
  <div class="w-full md:w-2/3 mb-2">2008年3月4日</div>
</div>

<div class="flex flex-wrap mb-4 leading-normal">
  <div class="w-full lg:w-1/3 lg:text-right font-bold pr-4 mb-2">代表者</div>
  <div class="w-full md:w-2/3 mb-2">代表取締役　草薙 誠徳</div>
</div>

<div class="flex flex-wrap mb-4 leading-normal">
  <div class="w-full lg:w-1/3 lg:text-right font-bold pr-4 mb-2">事業内容</div>
  <div class="w-full md:w-2/3 mb-2">
    <ul class="list-reset">
      <li>ウェブアプリケーション設計・開発</li>
      <li>システム開発コンサルティング</li>
      <li>スマートフォン向けサービス開発</li>
    </ul>
  </div>
</div>

<div class="flex flex-wrap mb-4 leading-normal">
  <div class="w-full lg:w-1/3 lg:text-right font-bold pr-4 mb-2">
    取引先<br>
    <span class="text-indigo-lighter text-sm">​(敬称略・順不同)</span>
  </div>
  <div class="w-full md:w-2/3 mb-2">
    <ul class="list-reset">
      <li>株式会社ビルディット</li>
      <li>株式会社KITERETSU</li>
      <li>あまた株式会社</li>
      <li>株式会社シティライト</li>
      <li>ガンホー・オンライン・エンターテイメント株式会社</li>
      <li>株式会社コロプラ</li>
      <li>Electronic Arts Inc.</li>
      <li>KLab株式会社</li>
      <li>株式会社IMJモバイル</li>
      <li>株式会社mediba</li>
      <li>グリー株式会社</li>
      <li>株式会社dango</li>
      <li>東京大学地震研究所</li>
      <li>独立行政法人海洋研究開発機構</li>
      <li>株式会社カヤック</li>
      <li>株式会社ビジュアライズ</li>
      <li>インヴェンティット株式会社</li>
      <li>株式会社コンテンツワン</li>
      <li>アイティメディア株式会社</li>
    </ul>
  </div>
</div>

<div class="flex flex-wrap mb-4 leading-normal">
  <div class="w-full lg:w-1/3 lg:text-right font-bold pr-4 mb-2">役員紹介</div>
  <div class="w-full md:w-2/3 mb-2">
    <div class="mb-4">
      <p class="mb-2">
        草薙　誠徳　<span class="text-indigo-lighter">​代表取締役</span>
      </p>
      <p>
        大学院で地球惑星物理学を専攻した後、携帯ソフトウェア開発会社に勤務し、大規模携帯サイトの設計・開発を手がける.<br>
        2005年 有限会社i-walk 設立を経て、2008年3月 Banana Systems 株式会社設立.
      </p>
    </div>
  
    <div>
      <p class="mb-2">
        服部　文直　<span class="text-indigo-lighter">​取締役</span>
      </p>
      <p>
        大学(情報工学部専攻)を中退後に渡米し起業. 数年運営した後、企業の売却と同時に帰国.<br>
        帰国後はソフトウェア開発会社に勤務する傍ら apache committer としてオープンソースプロジェクトに積極的に参加. その後 macromedia, adobe などISVを経て2008年3月より現職.
      </p>
    </div>
  </div>
</div>

<div class="flex flex-wrap mb-4 leading-normal">
  <div class="w-full lg:w-1/3 lg:text-right font-bold pr-4 mb-2">アクセス</div>
  <div class="w-full md:w-2/3 mb-2">
    <p class="mb-2">
      神奈川県横浜市港北区日吉2-6-18<br>
      月村マンション No.10 401号室
    </p>
    
    <iframe
      class="w-full lg:w-2/3"
      height="400"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCoM56t3dynoa62qTl2E5jgTevZUi6Du8Y&q=神奈川県横浜市港北区日吉2-6-18" allowfullscreen>
    </iframe>
  </div>
</div>
  