<form
  class="w-full max-w-xl"
  action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSfeJq1ccJVFUaOeDfdLw3g1Nx72cVoBi9umyy9dN2vt5UrSpA/formResponse"
  method="post"
>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label
        class="block uppercase tracking-wide text-grey-darker text-sm font-bold mb-2"
        for="grid-company-name"
      >
        御社名または団体名
      </label>
      <input
        name="entry.1889695207"
        class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
        id="grid-company-name"
        type="text"
        placeholder="御社名または団体名"
        required
      />
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label
        class="block uppercase tracking-wide text-grey-darker text-sm font-bold mb-2"
        for="grid-name"
      >
        お名前
      </label>
      <input
        name="entry.461806263"
        class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
        id="grid-name"
        type="text"
        placeholder="お名前"
        required
      />
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label
        class="block uppercase tracking-wide text-grey-darker text-sm font-bold mb-2"
        for="grid-email"
      >
        Email
      </label>
      <input
        name="emailAddress"
        class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
        id="grid-email"
        type="email"
        placeholder="email@example.com"
        required
      />
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label
        class="block uppercase tracking-wide text-grey-darker text-sm font-bold mb-2"
        for="grid-email"
      >
        お問い合わせ内容
      </label>
      <textarea
        name="entry.570075551"
        class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
        rows="8"
        id="grid-email"
        placeholder=""
        required
      ></textarea>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <button
        class="shadow bg-orange hover:bg-orange-light focus:shadow-outline focus:outline-none text-white py-2 px-4 rounded"
        type="submit"
      >
        送信する
      </button>
    </div>
  </div>
</form>
