<div>
  <div class="flex flex-wrap -mx-2">
    <div class="w-full md:w-1/2 xl:w-1/3 mb-4 px-2">
      <div class="h-64 sm:h-48 rounded overflow-hidden shadow border border-grey-dark bg-white">
        <div class="bg-indigo-darkest text-indigo-lightest text-center py-2">『対戦☆ZOOKEEPER』​</div>
        <p class="text-grey-darker text-base leading-normal p-4">
            株式会社KITERETSU様によるデスクトップ向けマッチ3ゲーム、『対戦☆ZOOKEEPER』のリアルタイム対戦のバックエンドシステム開発に参画しました。
        </p>
      </div>
    </div>
    
    <div class="w-full md:w-1/2 xl:w-1/3 mb-4 px-2">
      <div class="h-64 sm:h-48 rounded overflow-hidden shadow border border-grey-dark bg-white">
        <div class="bg-indigo-darkest text-indigo-lightest text-center py-2">『ファイナルファンタジー アギト』​</div>
        <p class="text-grey-darker text-base leading-normal p-4">
            株式会社スクウェア・エニックス様によるスマートフォン向け本格RPG、『ファイナルファンタジー アギト』のバックエンドシステムの設計及び実装に参画しました。
        </p>
      </div>
    </div>
    
    <div class="w-full md:w-1/2 xl:w-1/3 mb-4 px-2">
      <div class="h-64 sm:h-48 rounded overflow-hidden shadow border border-grey-dark bg-white">
        <div class="bg-indigo-darkest text-indigo-lightest text-center py-2">『パズル＆ドラゴンズ』​</div>
        <p class="text-grey-darker text-base leading-normal p-4">
            ガンホー・オンライン・エンターテイメント株式会社様によるスマートフォン向けパズルRPG、『パズル＆ドラゴンズ』​の初期バックエンドシステムの設計及び実装に参画しました。
        </p>
      </div>
    </div>
  </div>
</div>
